<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jose Victor Carpena</title>
    <link rel="icon" href="/static/assets/img/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/intro.css">
    <link rel="stylesheet" href="/static/css/skills.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/projects.css">
  </head>

  <body style="margin-left: 0; margin-right: 0; margin-bottom: 0;">
    <!--HEADER-->
    <header class="header">
      <a class="left-section anchor" href="#about">JV Carpena</a>

      <div class="right-section">
        <div>
          <a class="nav-control" href="#about">About</a>
        </div>
        <div>
          <a class="nav-control" href="#projects">Projects</a>
        </div>
        <div>
          <a class="nav-control" href="#skills">Skills</a>
        </div>
        <div>
          <a class="nav-control" href="#contact">Leave a Message!</a>
        </div>
      </div>
    </header>
    <!--HEADER-->

    <main>
      <!--INTRODUCTION-->
      <section class="intro" id="about">
        <h1 class="intro-name">Hi, I'm JV!</h1>
        <img class="profile-pic" src="/static/assets/img/gradpic.JPG" alt="">
        <p class="intro-about">Hey I'm JV, I hold a bachelor’s degree in Computer Engineering and specialize in<br/> Python, SQL, and JavaScript. With a solid foundation in programming and<br/> a growing knowledge of AWS, I’m passionate about creating efficient solutions<br/> and leveraging technology to solve real-world challenges.</p>
        <div class="logo-container">
          <a class="anchor" href="https://www.linkedin.com/in/jose-victor-carpena-02637a2a3/" target="_blank">
            <img src="/static/assets/img/linked_in.svg" alt="linked-in-logo">
          </a>
          <a class="anchor" href="https://github.com/jvcarpena" target="_blank">
            <img src="/static/assets/img/github.svg" alt="github-logo">
          </a>
          <a class="anchor" href="https://www.facebook.com/jv.carpena.7" target="_blank">
            <img src="/static/assets/img/facebook.svg" alt="facebook-logo">
          </a>
          <a class="anchor" href="https://www.instagram.com/carpena.jv/?next=%2F&hl=en" target="_blank">
            <img src="/static/assets/img/instagram.svg" alt="instagram-logo">
          </a>
        </div>
      </section>
      <!--INTRODUCTION-->

      <!--PROJECTS-->
      <section class="projects" id="projects">
        <div><h2 class="proj">Projects</h2></div>

        <div class="project-container">
          <div class="project-box" style="background-image: url('/static/assets/img/to-do-app.jpg');">
            <div class="project-overlay">
                <h3 class="project-title">Project Title</h3>
                <p class="project-description">A brief description of the project goes here. It highlights the main features and purpose.</p>
                <a href="https://github.com/your-github-repo" class="visit-button" target="_blank">View Project</a>
            </div>
          </div>
  
          <div class="project-box" style="background-image: url('/static/assets/img/cafe-web.jpg');">
            <div class="project-overlay">
                <h3 class="project-title">Project Title</h3>
                <p class="project-description">A brief description of the project goes here. It highlights the main features and purpose.</p>
                <a href="https://github.com/your-github-repo" class="visit-button" target="_blank">View Project</a>
            </div>
          </div>
  
          <div class="project-box" style="background-image: url('/static/assets/img/blog-website.jpg');">
            <div class="project-overlay">
                <h3 class="project-title">Project Title</h3>
                <p class="project-description">A brief description of the project goes here. It highlights the main features and purpose.</p>
                <a href="https://github.com/your-github-repo" class="visit-button" target="_blank">View Project</a>
            </div>
          </div>

          <div class="project-box" style="background-image: url('/static/assets/img/pong-game.jpg');">
            <div class="project-overlay">
                <h3 class="project-title">Project Title</h3>
                <p class="project-description">A brief description of the project goes here. It highlights the main features and purpose.</p>
                <a href="https://github.com/your-github-repo" class="visit-button" target="_blank">View Project</a>
            </div>
          </div>

          <div class="project-box" style="background-image: url('/static/assets/img/snake-game.jpg');">
            <div class="project-overlay">
                <h3 class="project-title">Project Title</h3>
                <p class="project-description">A brief description of the project goes here. It highlights the main features and purpose.</p>
                <a href="https://github.com/your-github-repo" class="visit-button" target="_blank">View Project</a>
            </div>
          </div>
        </div>
        <div><a href="https://github.com/jvcarpena?tab=repositories" target="_blank"><button class="github-button">See more on Github</button></a></div>
      </section>
      <!--PROJECTS-->

      <!--SKILLS-->
      <section class="skills-container" id="skills">
        <h2 class="proj">Skills</h2>
        <div class="logo-container">
          <img src="/static/assets/img/python.svg" alt="python-logo">
          <img src="/static/assets/img/javascript.svg" alt="javascript-logo">
          <img src="/static/assets/img/postman.svg" alt="postman-logo">
          <img src="/static/assets/img/git.svg" alt="git-logo">
          <img src="/static/assets/img/sql.svg" alt="sql-logo">
        </div>
      </section>
      <!--SKILLS-->

      <!--CONTACT-->
      <section id="contact">
        <h2>Leave a Message!</h2>
        <p>If you'd like to get in touch, feel free to reach out using the form below or via social media above.</p>
        <form action="your-server-endpoint" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required placeholder="Your Name">
    
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required placeholder="Your Email">
    
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="4" required placeholder="Your Message"></textarea>
    
            <button type="submit">Send Message</button>
        </form>
      </section>
      <!--CONTACT-->

    <footer class="footer">
      <p class="description">© 2025 Jose Victor Carpena. All Rights Reserved</p>
    </footer>
    </main>
  </body>
</html>